<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CV - Lenin Gómez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CV - Lenin Gómez</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-avatar slot="start" style="width: 100px; height: 100px;">
      <img alt="Avatar" src="../../assets/image/FotoCarnet.jpg" />
    </ion-avatar>
    <ion-label style="font-size: 20px;">Lenin Cristóbal Gómez Gualotuña</ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label style="font-size: 20px;">Sobre Mí</ion-label>
        </ion-list-header>
        <ion-item>
          <p>
            Estudiante dispuesto a colaborar y buscar oportunidades para aplicar mis conocimientos
            en proyectos reales. Me destaco por mi capacidad de trabajo en equipo y entusiasmo para
            enfrentar problemas.
          </p>
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label style="font-size: 20px;">Idiomas</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-text>
            <ul>
              <li>Español: Nativo</li>
              <li>Inglés: B1</li>
            </ul>
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label style="font-size: 20px;">Competencias</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-text>
            <ul>
              <li>Java</li>
              <li>JavaScript</li>
              <li>SQL</li>
              <li>HTML/CSS</li>
              <li>Python</li>
            </ul>
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label style="font-size: 20px;">Experiencia</ion-label>
        </ion-list-header>
        <ion-label style="font-size: 18px;">Proyecto para Gestión de Productos</ion-label>
        <ion-item>
          <ion-text>
            <ul>
              <li>Arquitectura del sistema mediante lenguaje Java en plataforma IntelliJ IDEA.</li>
              <li>Diseño de interfaz gráfica (JFrame) mediante Java Swing.</li>
              <li>Creación de archivo ejecutable en formato JAR.</li>
              <li>Base de datos creada y diseñada en CleverCloud.</li>
            </ul>
          </ion-text>
        </ion-item>
        <ion-label style="font-size: 18px;">Proyecto API RESTFUL</ion-label>
        <ion-item>
          <ion-text>
            <ul>
              <li>Creación de una API RESTFUL en Express.js.</li>
              <li>Uso de librerias como JSON_Server para la base de datos de manera local</li>
              <li>Uso de Servicios SaaS como Cloudinary para la carga de archivos multimedia</li>
            </ul>
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label style="font-size: 20px;">Educación</ion-label>
        </ion-list-header>
        <ion-label style="font-size: 18px;">Unidad Educativa Municipal "Sucre"</ion-label>
        <ion-item>
          <ion-text>
            <ul>
              <li>Bachillerato General Unificado</li>
              <li>2019-2021</li>
            </ul>
          </ion-text>
        </ion-item>
        <ion-label style="font-size: 18px;">Escuela Politécnica Nacional</ion-label>
        <ion-item>
          <ion-text>
            <ul>
              <li>Tecnología Superior en Desarrollo de Software</li>
              <li>2022-Actualidad</li>
            </ul>
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item lines="none"> 
      <ion-list>
        <ion-list-header>
          <ion-label style="font-size: 20px;">Contactos</ion-label>
        </ion-list-header>
        <ion-item>
          <a href="https://facebook.com/lenin.gomez.1840" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-facebook" size="large"></ion-icon>
          </a>
          <a href="https://github.com/lenintoto" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-github" size="large"></ion-icon>
          </a>
          <a href="https://instagram.com/lenintoto" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-instagram" size="large"></ion-icon>
          </a>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>

</ion-content>